.tournament-banner-content {
  background-size: cover;
  background-repeat: no-repeat;
  padding-left: 5.5rem;
  padding-bottom: 0;
  padding-top: 60px;
  margin: 0;
  height: 564px;
  display: flex;
  align-items: center;
}

.tournament-banner__date {
  font-size: 1.125rem;
  margin-bottom: .625rem;
  font-weight: 500;
}

.tournament-banner-content .jumbotron__title {
  margin-bottom: .625rem;
}

.tournament-banner__stage {
  font-size: 1.875rem;
  font-weight: 500;
}


.tournament-banner__mode {
  margin-right: 1.75rem;
}

.tournament-banner {
  & .slick-prev {
    left: 40px;
  }
  & .slick-next {
    right: 40px;
  }
}

@media screen and (max-width: 1919px) {
  .tournament-banner-content {
    height: 450px;
  }
}

@media screen and (max-width: 1439px) {
  .tournament-banner-content {
    padding-top: 0;
    height: 315px;
  }
}

@media screen and (max-width: 1023px) {
  .tournament-banner-content {
    padding-top: 0;
    height: 320px;
  }
}

@media screen and (max-width: 767px) {
  .tournament-banner-content {
    padding-left: 20px;
    height: 180px;
  }

  .tournament-banner__date {
    font-size: .875rem;
    margin-bottom: .125rem;
  }

  .tournament-banner-content .jumbotron__title {
    font-size: 1.25rem;
    margin-bottom: 0;
  }

  .tournament-banner__stage {
    font-size: 1.125rem;
    margin-bottom: .25rem;
  }

  .tournament-banner__mode {
    font-size: .75rem;
    margin-right: 0;
  }

  .tournament-banner__award {
    font-size: .75rem;
  }

  .tournament-banner__mode:after {
    content: ' / ';
    position: relative;
    top: 1px;
  }
}

@media screen and (max-width: 575px) {
  .tournament-banner-content .btn {
    font-size: .875rem;
    padding: .5rem 1.5rem;
  }
  .tournament-banner-content {
    margin-left: -10px;
    margin-right: -10px;
    height: 175px;
  }
}