.tickets {
  background: url(../../Icons/tickets.svg) no-repeat center;
  width: 24px;
  height: 24px;
  background-size: contain;
  display: inline-block;
  margin-right: .5rem;
}

.joystick {
  background: url(../../Icons/joystick.svg) no-repeat center;
  width: 30px;
  height: 18px;
  background-size: contain;
  display: inline-block;
  margin-right: .5rem;
}