.card-deck .advantage_card {
  margin-bottom: .626rem;
  margin-top: .626rem;
}
.advantage_card {
  padding: 1.875rem 1.25rem;
  height: 100%;
  &-head {
    width: 228px;
    height: 228px;
    background: #0A0A14;
    margin-bottom: 1.75rem;
  }
  &-title {
    margin-bottom: .875em;
  }
  &-text {
    font-size: 1.125rem;
  }
}