.card-deck .advantage_card {
  margin-bottom: .626rem;
  margin-top: .626rem;
  border-radius: 2.25rem;
}
.advantage_card {
  padding: 1.875rem 1.25rem;
  height: 100%;
  &-head {
    width: 228px;
    height: 228px;
    background: #0A0A14;
    margin-bottom: 1.75rem;
  }
  &-title {
    margin-bottom: .875em;
  }
  &-text {
    font-size: 1.125rem;
  }
}

@media screen and (max-width: 1439px) {
  h4 {
    font-size: 1.125rem;
  }

  .advantage_card-text {font-size: .875rem;}

  .advantage_card-head {
    width: 104px;
    height: 104px;
    margin-bottom: .625rem;
  }

  .advantage_card {
    padding: .625rem 1.25rem;
  }

  .advantage_card-title {
    margin-bottom: .5rem;
  }

  .card-deck .advantage_card {
    margin: 0;
  }
}
