.tournaments-list__result .form-control {
  background-color: #E3E3E3;
}

 .tournaments-list__result > *:not(:last-child) {
   margin-right: .625rem;
 }

@media screen and (max-width: 767px){
  .tournaments-list__result > *:not(:last-child) {
    margin-right: 0;
  }

  .tournaments-list__btn-group > .btn {
    padding: .375rem 1rem;
    font-size: .75rem;
  }
}