.logo {
  height: 32px;
  &--header {
  }
}

.header {
  &-nav__link {
    font-size: 1.25rem;
  }
  &-divider {
    padding-left: 2.625rem;
    padding-right: 2.625rem;
    color: #fff;
    font-size: 1.25rem;
    font-weight: 500;
    -webkit-user-select: none;
  }
}

.user-info__email {
  font-size: 1.125rem;
}

.user-info__avatar {
  width: 37px;
  height: 37px;
  overflow: hidden;
  margin-right: 1rem;
}

.user-info__tickets {
  font-size: 1.5rem;
  font-weight: 500;
  margin-right: 1.875rem;
}

.rec {
  width: 14px;
  height: 14px;
}

.user-info__avatar-images {
  width: 100%;
  height: auto;
}

.navbar-toggler {
  z-index: 101;
  border: none;
  padding: 0;
}

.navbar-dark .navbar-toggler-icon {
  background: url("../../Icons/menu.svg") no-repeat center;
}

@media screen and (max-width: 1023px) {
  .navbar-expand-lg > .container {
    max-width: 100%;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }
  .navbar-collapse {
    position: fixed;
    right: -270px;
    width: 270px;
    top: 0;
    background: #191a30;
    padding: 70px 20px;
    text-align: right;
    transition: .5s;
    height: 100% !important;
  }

  .navbar-collapse.show {
    right: 0;
  }

  .collapsing {
    transition: .5s;
  }
}

@media screen and (max-width: 767px){
  .navbar {
    background-color: #181818 !important;
  }

  .logo > img {
    height: 100%;
    width: auto;
  }
  .logo {
    height: 25px;
  }

  #root {
    background: #181818;
  }
}