.logo--footer {
  padding-left: 10px;
  padding-right: 10px;
}

.footer-nav__link {
  padding-left: .5rem;
  padding-right: .5rem;
}

.footer-nav__item:not(:last-of-type)::after {
  content: '';
  display: inline-block;
  height: 18px;
  width: 2px;
  background-color: #fff;
  position: relative;
  top: 4px;
}

.social__link {
  padding: 0.625rem;
  transition: .3s;
}

.social__link:hover {
  transform: scale(1.15);
  transition: .3s;
}

@media screen and (max-width: 1439px) {
  .footer__content {
    order: 3;
  }
}

@media screen and (max-width: 1024px) {
  .footer-nav__link {
    padding-top: .25rem;
    padding-bottom: .25rem;
  }
}

@media screen and (max-width: 768px) {
  .footer__content {
    font-size: 14px;
    text-align: center;
  }

  .footer-nav__item:not(:last-of-type)::after {
    height: 12px;
    top: 2px;
  }

  .logo--footer {
    margin-bottom: .5rem;
  }

  .footer__content > .nav {
    justify-content: center;
  }

  .footer__content {
    order: initial;
  }
}