.slider_card {
  width: 20%;
}

.container-games_card {
  padding-top: 2.5rem;
  margin-bottom: 2.5rem;
}

.games_card .slick-slide > * {
  padding-left: 10px;
  padding-right: 10px;
}

.game-card-body {
  background: none;
  margin-bottom: .625rem;
}
.card-img-top {
  border-bottom-left-radius: calc(0.25rem - 1px);
  border-bottom-right-radius: calc(0.25rem - 1px);
  overflow: hidden;
  height: 150px;
}

.s-game-card:focus {outline: none;}

.s-game-card--disabled {
  position: relative;
  &-text {
    background-color: rgba(0, 0, 0, .5);
    z-index: 10;
    font-weight: 500;
    font-size: 24px;
  }
}

.text-disabled {color: #A9A9A9;}

@media screen and (max-width: 1439px) {
  .game-card-body .card-img-top {
    height: 110px;
  }
}

@media screen and (max-width: 1023px) {
  .game-card-body .card-img-top {
    height: 104px;
  }
}

@media screen and (max-width: 767px) {
  .game-card-body .card-img-top {
    height: 122px;
  }
  .container-games_card {
    padding-top: 1.25rem;
    margin-bottom: 1.25rem;
  }
}

@media screen and (max-width: 575px) {
  .game-card-body .card-img-top {
    height: auto;
  }

  .container-games_card > h2 {
    display: none;
  }
}